@charset "utf-8";


.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

/* header */
header {
    width: 100%;
    height: 160px;
}

#header_top {
    width: 100%;
    height: 40px;
    background-color: #eee;
}

#header_top .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#login {
    width: 290px;
    height: 20px;
}

#login ul {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

#login ul li::after {
    content: "|";
    margin-left: 7px;
}

#login ul li:last-child::after {
    content: "";
}



#header_main {
    width: 1140px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.category_select {
    height: 35px;
    border: 1px solid #bbbbbb;
    border-radius: 10%;
    background-color: white;
    font-size: 16px;
}





.logo {
    width: 120px;
    height: 35px;
}

.logo img {
    width: 100%;
}

nav {
    width: 100%;
    height: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

nav .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    width: 700px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

/* main */
main {
    width: 1140px;
    height: 2200px;
    margin: 0 auto;
    display: flex;
}

aside {
    width: 200px;
    height: 100%;
    margin-top: 40px;
}

/* 전체 박스 */
.aside_box {
    width: 180px;
    height: 365px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 15px;
    /* 🔥 둥근 외곽 */
    overflow: hidden;
    /* 🔥 둥근 모서리 유지 */
}

/* 공통 li */
.aside_box li {
    display: flex;
    align-items: center;
    /* 세로 가운데 */
    padding: 10px;
}

/* 비율 */
.aside_box li:nth-child(1) {
    flex: 3;
}

.aside_box li:nth-child(2) {
    flex: 6;
}

.aside_box li:nth-child(3) {
    flex: 1;
}

/* 위쪽만 색 */
.aside_box>li:first-child {
    background: linear-gradient(90deg, #1865ED, #568DF0)
}

/* 구분선 */
.aside_box>li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.title {
    font-weight: bold;
    color: white;
}

.PICK {
    color: blue;
}

.hazy {
    color: #b6b6b6;
    font-size: 12px;
    font-weight: 300;

}

.home {
    font-weight: bold;
}

#best {
    margin-top: 40px;
}

#best article {
    display: flex;
    flex-wrap: wrap;
}

#tab2 {
    display: none;
}

#booktab {
    display: flex;
    justify-content: right;
}

#tab2 {
    display: none;
}

.box {
    width: calc(20%);
    text-align: left;
    padding: 15px 30px;

}

.box h5 {

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3;
    height: calc(1.3em * 2);

    overflow: hidden;
    text-overflow: ellipsis;
}

.box p {
    font-size: 11px;
    color: #666;
    text-align: left;
}

/* 우측 상단 */
.best_header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.best_header .tab {
    margin-left: 15px;
    cursor: pointer;
    color: #888;
}

.best_header .active {
    color: #000;
    font-weight: bold;
}

/* 2줄 구조 */
.best_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 한 줄 */
.row {
    display: flex;
    justify-content: space-between;
}

#search .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    padding-left: 240px;
    gap: 15px;
}

.search_box {
    position: relative;
    width: 200px;
}

.search_input {
    width: 100%;
    height: 35px;
    padding: 0 40px 0 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.search_btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;

    border: none;
    background: url(../img/magnifying-glass.svg) no-repeat center;
    background-size: 18px;
    cursor: pointer;
}

#search {
    width: 100%;
    height: 95px;
    background-color: #e6e6e6;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;

}

#banner {
    width: 100%;
    height: 150px; 
    margin-top: 40px;
    margin-bottom: 60px;
    background: url(../img/split_bnr.png) no-repeat center;
    background-size: cover;
    
    border-radius: 10px;
}

/* 5개 배치 */
.row .box {
    width: calc(20% - 10px);
    text-align: center;
}

#main_content {
    width: calc(100% - 200px);
    height: 100%;
}

#slider {
    width: 100%;
    height: 350px;
    margin-top: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    /* background-color: green; */

}
    /* 페이지 네비게이션 버튼 */


.thumbSwiper {
    margin-top: 10px;
}

.thumbSwiper .swiper-slide {
    opacity: 0.4;
    cursor: pointer;
}

.thumbSwiper .swiper-slide-thumb-active {
    opacity: 1;
    border: 2px solid #000;
}
    /* 페이지 네비게이션 버튼 */

#slider_txt {
    width: 270px;
    height: 100%;
    position: relative;
    padding: 40px;
    font-size: 18px;
    font-weight: bold;
}

.swiper-button-next {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 100px;
    right: auto;
    top: auto;
    bottom: 100px;
    color: #888;
}

.swiper-button-prev {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 30px;
    top: auto;
    bottom: 100px;
    color: #888;
}

#slider_txt .swiper-navigation-icon {
    width: 50%;
    height: 50%;
    /* fill: #888; */
}

/* swiper css */
#slider .swiper {
    width: calc(100% - 270px);
    height: 100%;
}


#slider .swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
}

#slider .swiper-slide img {
    height: 100%;
}

#slider .swiper-slide div {
    padding-left: 20px;
    text-align: left;
}

#slider .swiper-slide div h6{
    color: gray;
    margin-top: 5px;
    margin-bottom: 10px;
}

#slider .swiper-slide div p {
    font-size: 14px;
    font-weight: bold;
}

/* new */
#new {
    width: 100%;
    height: 520px;
}

#new .swiper {
    width: 100%;
    height: 100%;
}

#new .swiper-slide {
    flex-direction: column;
    justify-content: flex-start;
}
#new h3 {
    margin-bottom: 25px;
}
#new .swiper-slide img {
    width: 100%;
    height: auto;
}

/* footer */
footer {
    width: 100%;
    height: 180px;
    border-top: 1px solid #ddd;
    background-color: violet;

}

footer .container {
    align-items: flex-start;
    padding-top: 30px;
}

footer ul {
    width: 320px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    background-color: aqua;

}

.footer_top {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer_select {
    margin-left: auto;
    height: 35px;
    border: 1px solid #bbbbbb;
    border-radius: 10%;
    background-color: white;
    font-size: 16px;
}

footer ul li::after {
    content: "|";
    margin-left: 16px;
}

footer ul li:last-child::after {
    content: "";
}

footer .container ul li.active a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;

}

footer .container ul li a {
    color: #888;
}

.footer_bottom p span::after {
    content: "|";
    margin-left: 15px;

}

.footer_bottom p span:last-child::after,
.footer_bottom p span:has(+ br)::after {
    content: "";
}

.footer_bottom p span {
    display: inline-block;
    margin-right: 12px;
}

.footer_bottom {
    font-size: 11px;
    justify-content: space-between;
    color: #888;

}

.footer_bottom p:first-of-type {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #444;
    font-weight: bold;
}