@charset "utf-8";


.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}
/* header */
header {
    width: 100%;
    height: 160px;
}

#header_top {
    width: 100%;
    height: 40px;
    background-color: #eee;
}

#header_top .container {
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

#login {
    width: 290px;
    height: 20px;
}

#login ul{
    display: flex;
    justify-content: space-between;
    font-size: 12px;

     li:after {content: "|"; float: right; margin-right: -11px; }

        li:last-child::after{content: "";}
    
}



#header_main {
    width: 1140px;
    height: 70px;
    margin: 0 auto;
    background-color: rgba(64, 16, 160, 0.863);
    display: flex; align-items: center; 
    gap: 10px;
}
.category_select {
    height: 35px;
    border: 1px solid #bbbbbb;
    border-radius:10%;
    background-color: white;
    font-size: 16px;
}

.logo{
    width: 120px; height: 35px; background-color: bisque;
}
.logo img{width: 100%; }

nav {
    width: 100%;
    height: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

nav .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    width: 700px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    background-color: cyan;
}

/* main */
main {
    width: 1140px;
    height: 2200px;
    margin: 0 auto;
    display: flex;
    background-color: pink;
}

aside {
    width: 300px;
    height: 100%;
    background-color: greenyellow;
}

aside_box{width: ;}

#main_content {
    width: calc(100% - 300px);
    height: 100%;
    background-color: azure;
}

#slider {
    width: 100%;
    height: 350px;
    margin-top: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    /* background-color: green; */

}

#slider_txt {
    width: 270px;
    height: 100%;
    position: relative;
    background-color: skyblue;
}

.swiper-button-next {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 100px;
    right: auto;
    top: auto;
    bottom: 100px;
    color: #888;
}

.swiper-button-prev {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 30px;
    top: auto;
    bottom: 100px;
    color: #888;
}

#slider_txt .swiper-navigation-icon {
    width: 50%; 
    height: 50%;
    /* fill: #888; */
}

/* swiper css */
#slider .swiper {
    width: calc(100% - 270px);
    height: 100%;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* new */
#new {
    width: 100%;
    height: 520px;
}

#new .swiper{
    width: 100%;
    height: 100%;
}

#new .swiper-slide{
    flex-direction: column;
    justify-content: flex-start;
}

#new .swiper-slide img {
    width: 100%;
    height: auto;
}

/* footer */
footer {
    width: 100%;
    height: 180px;
    border-top: 1px solid #ddd;
    background-color: violet;
    
}

footer .container {
    align-items: flex-start;
    padding-top: 30px;
}

footer ul {
    width: 320px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    background-color: aqua;

}

footer ul li::after {
    content: "|";
    margin-left: 16px;
}

footer ul li:last-child::after {
    content: "";
}

footer .container ul li.active a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
    
}

footer .container ul li a {
    color: #888; 
}


.footer_bottom  {
    font-size: 11px;
    justify-content: space-between; 

    
}

.footer_bottom p:first-of-type{
    margin-top: 20px; 
    margin-bottom: 10px;
    color: #444;
    font-weight: bold;
}
